* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-image: url('../images/glasses-bg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

.container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 2rem;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

.logo span {
  color: white;
}

nav {
  color: white;
  padding: 1rem 0;
}

span {
  padding-right: 2rem;
}

header .bottom {
  display: flex;
  justify-content: flex-end;
}

.banner {
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2
  display: inline-block;
  padding: 1.5rem 5rem;
}

.product-grid {
  display: flex;
  justify-content: center;
  height: 14rem;
}

.item {
  margin: 3rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tall img {
  width: 3.5rem;
  height: auto;
}

.wide img {
  width: 5rem;
  height: auto;
}

.item p {
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.info {
  width: 35%;
  height: auto;
  margin: 0 2.5% 5rem 2.5%;
}

h2 {
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  display: block;
  width: 10rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}
